snippet html5
<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>HTML5 Template</title>
  <meta name="description" content="">
  <meta name="author" content="">
</head>
<body>
	$1
</body>
</html>
endsnippet
