[user]
	name = Jackson Dean
	email = jckson.dean@gmail.com
[alias]
	ap = add --patch
	cam = commit --amend
	co = checkout
	cob = checkout -b
	l = log
	st = status
  b = !git checkout $(git branch -a | fzf)
  g = log --graph --oneline --all --decorate
  wip = !git add -A && git commit -m 'WIP' -n
  reset-master = !git fetch origin master && git reset --hard origin/master
  reuse-message = commit --reuse-message=HEAD@{1}
  rbc = review create --owners-only --no-prompt -g org-web-reviewers
  rbu = !~/bin/rbu
  rbs = !git review dcommit && git submit --async
[color]
	ui = true
[core]
	excludesfile = /Users/jcdean/.gitignore_global
