[user]
	name = Jackson Dean
	email = jckson.dean@gmail.com
[alias]
	co = checkout
	cob = "!git checkout -B jackson/$1; exit;"
	ap = add --patch
	st = status
	cam = commit --amend
	l = log
  g = log --graph --oneline --all --decorate
	b = branch
  wip = !git add -A && git commit -m 'WIP' -n
  pushu = !git push -u origin `git rev-parse --abbrev-ref HEAD`
  reset-branch = !git fetch origin `git rev-parse --abbrev-ref HEAD` && git reset --hard origin/`git rev-parse --abbrev-ref HEAD`
  d = diff --color-words
[color]
	ui = true
[core]
	excludesfile = /home/jackson/.gitignore_global
